/* Existing Styles */

header {
    background-color: #5A0C8A;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Domine', serif; 
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

/* New Style for Animated Background */

body {
    /* Replace 'your-animated-bg.gif' with the path to your actual gif */
    background: url('https://cdn.glitch.global/9ca024a4-46ec-4498-996d-b7a88f171d25/stars-glitters.gif?v=1693526880158') no-repeat center center fixed;
    background-size: cover; /* Cover the entire window */
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden; /* Hide scrollbars */
    margin: 0; /* Remove default margin */
    font-family: 'Domine', serif;
}
audio-player {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
